* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #eee;
  padding: 0 2rem;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.header ul {
  display: flex;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.header li {
  margin-right: 1rem;
}

.footer {
  margin-top: auto;
  height: 20vh;
  color: #777;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
}

.login_form_container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #2f2f2f;
}

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.login_form input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.login_form button {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
  margin-bottom: 10px;
  background-color: #2f2f2f;
  color: #fff;
  cursor: pointer;
}

.course_container {
  display: flex;
  justify-content: center;
}

#courses {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  width: 90vw;
}

#courses .course {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
}

#courses .course .list-content {
  width: 100%;
}

#courses .course img {
  height: 200px;
  width: auto;
}

#courses .course:not(:last-child) {
  border-bottom: 3px solid #ccc;
}

#courses .course .list-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 300px;
}

#courses .course .list-misc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#courses .course .list-title {
  font-size: 1.5rem;
}

#courses .course .list-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.mb-20 {
  margin-bottom: 20px;
}

#courses .course .btn,
#course_details .btn {
  background-color: #ffae1a;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0 10px;
  cursor: pointer;
}

#course_details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 40px;
  margin: 50px 0;
}

#course_details .single_course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 50px 0;
  color: #000;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
}

#course_details .single_course .single_course_body {
  display: flex;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

#course_details .single_course .single_course_body img {
  height: 300px;
  width: auto;
}

#course_details .single_course .single_course_body .single_course_title {
  font-size: 2rem;
}

#course_details .single_course .single_course_body .single_course_text {
  margin: 20px 0;
}

.btn-wide {
  width: 75%;
  padding: 10px 0 !important;
}

@media only screen and (max-width: 768px) {
  #courses .course {
    flex-wrap: wrap;
    justify-content: center;
  }
  #courses .course .list-text {
    -webkit-line-clamp: 4;
  }
}

#admin-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#admin-table td,
#admin-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#admin-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#admin-table tr:hover {
  background-color: #ddd;
}

#admin-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
