* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input.error {
  color: red;
}

.login-page,
.register-page {
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page h2,
.register-page h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.login-form,
.register-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form input,
.register-form input,
.register-form select,
.login-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

.login-form button,
.register-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #4caf50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login-form button:hover,
.register-form button:hover {
  background: #43a047;
}

.login-form .message,
.register-form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 14px;
}
